@import "tailwindcss";

@theme {
  --color-accent: var(--color-lime-500);
  --color-surface: var(--color-white);
  --color-surface-alt: var(--color-gray-50);
  --color-surface-bright: var(--color-gray-50);
  --color-surface-inverse: var(--color-black);
  --color-content: var(--color-gray-700);
  --color-content-inverse: var(--color-white);
  --color-outline: var(--color-gray-300);
  --color-outline-light: var(--color-gray-200);
  --color-shadow: var(--color-gray-300);
  --color-danger: var(--color-red-500);
}

.collapsible-content {
  @apply grid grid-rows-[0fr] opacity-0;
  @apply transition-[grid-template-rows,opacity] duration-400 ease-out;
}

.collapsible-content.open {
  @apply grid-rows-[1fr] opacity-100;
}

.collapsible-content-inner {
  @apply overflow-hidden;
}

.settings input {
  @apply border-outline outline-accent inline-block;
  @apply rounded-sm border bg-white py-1.5 text-center text-base;
  @apply appearance-none transition-all duration-500;

  @apply invalid:border-danger invalid:text-danger invalid:outline-danger;
}

.settings input[type="checkbox"] {
  @apply w-12 cursor-pointer;
  @apply before:content-['Off'];
  @apply checked:border-accent checked:bg-accent checked:text-content-inverse checked:before:content-['On'];
}

.settings input[type="input"] {
  @apply w-28;
}

.settings input[type="number"] {
  @apply w-16;
}

.settings section {
  @apply py-2 my-2 border-t border-outline-light;
  @apply first:m-0 first:border-0 first:p-0;
}
