@import "tailwindcss";

@theme {
  --color-accent: var(--color-lime-500);
  --color-surface: var(--color-white);
  --color-surface-alt: var(--color-gray-50);
  --color-surface-bright: var(--color-gray-50);
  --color-surface-inverse: var(--color-black);
  --color-content: var(--color-gray-700);
  --color-content-inverse: var(--color-white);
  --color-outline: var(--color-gray-300);
  --color-outline-light: var(--color-gray-200);
  --color-shadow: var(--color-gray-300);
  --color-danger: var(--color-red-500);
}
